//colors
$color-grey-light-1:#f7f7f7;

$color-grey-dark:#777;
$color-white:#fff;
$color-black:#000;
$color-green-btn:#28a745;

$color-secondary-light:#ffb900;
$color-secondary-dark:#ff7730;
$color-tertiary-light:#2998ff;
$color-tertiary-dark:#5643fa;

$color-cyan-light:#26c6da;
$color-cyan-dark:#00bcd4;

$color-pink-light:#d81b60;
$color-pink-dark:#c2185b;

$color-purple-dark:#7b1fa2;
$color-purple-light:#8e24aa;
//grid
$gutter-width:114rem;
$gutter-vertical:8rem;
$gutter-horizontal:6rem;

//font-sizes
$default-font-size:1.6rem;